* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}

h1 {
    margin-bottom: 30px;
    font-size: 38px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fullwidth {
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.page-container {
    position: absolute;
    width: 100%;
    top: 70px;

}

/* INIZIO COLORI SFONDO */

.fullwidth-gray {
    background-color: #f4f9fd;
}

.fullwidth-white {
    background-color: white;
}

.fullwidth-pink {
    background-color: #fff2ee;
    height: 500px;
}

.fullwidth-lightblue{
    background-color: #afebe4;
    height: 70px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.fullwidth-gradient {
    background-image: linear-gradient(to top right, #00a4bd, #00bda5);
}

.fullwidth-darkblue {
    background-color: #32495b;
}

/* FINE COLORI SFONDO */


/* BARRA FISSATA IN ALTO */

.fullwidth-gray:first-of-type{
    position: fixed;
    height: 70px;
    z-index: 1;
}

/* NAVBAR */

.fullwidth-white:first-child{
    height: 70px;
}

nav img {
    height: 40px;
    margin: 15px 0;
}

nav ul {
    float: right;
    line-height: 70px;
}

nav li {
    float: right;
    margin: 0 10px;
    list-style: none;
    text-transform: capitalize;
    font-weight: 300;
    cursor: pointer;
}

nav i {
    font-size: 12px;
}

/* JUMBOTRON */

.jumbotron {
    width: 40%;
    position: absolute;
    top: 50px;
    left: 0;
}

.jumbotron p:last-of-type{
    font-size: 11px;
}

.jumbotron p:first-of-type {
    margin-bottom: 30px;
    font-size: 13px;
}

.jumbotron button {
    margin-bottom: 30px;
}

/* BUTTONS */

.btn {
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn:focus {
    outline: 0;
}

.btn-big {
    padding: 17px 30px;
}

.btn-orange {
    background-color: #fe775a;
    color: white;
}

.btn-orange:hover {
    background-color: #ffbcac;
    transition-duration: 0.5s;
}

/* SEZIONE GRIGIA */


/* PRIMO BLOCCO */

.first-gray-section img {
    height: 150px;
}

.first-gray-section {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

.first-gray-section h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.first-gray-section p {
    font-size: 15px;
    line-height: 23px;
}
