* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 30px;
    font-size: 38px;
}

hr {
    border-top: 1px solid #33475b;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fullwidth {
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.page-container {
    position: absolute;
    width: 100%;
    top: 70px;

}

/* INIZIO COLORI SFONDO */

.fullwidth-gray {
    background-color: #f4f9fd;
}

.fullwidth-white {
    background-color: white;
}

.fullwidth-pink {
    background-color: #fff2ee;
    height: 500px;
}

.fullwidth-lightblue{
    background-color: #afebe4;
    height: 70px;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}

.fullwidth-seagreen {
    background-color: #00a48d;
    height: 125px;
    border-top: 2px solid #33475b;
    width: 1000%;

    position: absolute;
    top: 443px;
    left: 773px;
}

.fullwidth-gradient {
    background-image: linear-gradient(to right, #00a4bd, #00bda5);
}

.fullwidth-darkblue {
    background-color: #32495b;
    color: #bbc6d4;
}

/* FINE COLORI SFONDO */


/* BARRA FISSATA IN ALTO */

.fullwidth-gray:first-of-type{
    position: fixed;
    height: 70px;
    z-index: 1;
    border-bottom: 1px solid #33475b;
    cursor: default;
    z-index: 99;
}

.fixed-bar span {
    margin-left: 12px;
    margin-right: 20px;
}

.fixed-bar .btn {
    margin-left: 15px;
}

.fixed-bar .left {
    float: left;
    line-height: 70px;
}

.fixed-bar .right {
    float: right;
    line-height: 70px;
}

.fixed-bar .right i {
    color: #00a4bd;
    cursor: pointer;
}

.fixed-bar .left a {
    text-decoration: none;
    color: #33475b;
}

.left ul {
    list-style: none;
}

.left li {
    float: left;
}

.left li:first-child {
    padding-right: 15px;
    margin-right:
}






/* NAVBAR */

.fullwidth-white:first-child{
    height: 70px;
}

nav img {
    height: 40px;
    margin: 15px 0;
}

nav ul {
    float: right;
    line-height: 70px;
}

nav li {
    float: right;
    margin-left: 20px;
    list-style: none;
    text-transform: capitalize;
    font-weight: 300;
    cursor: pointer;
}

nav i {
    font-size: 12px;
    color: #33475b;
}

p {
    line-height: 27px;
}
/* JUMBOTRON */

.jumbotron {
    width: 40%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 6;
}

.jumbotron p:last-of-type{
    font-size: 11px;
}

.jumbotron p:first-of-type {
    margin-bottom: 30px;
    font-size: 13px;
}

.jumbotron button {
    margin-bottom: 30px;
}

.fullwidth-pink img {
    position: absolute;
    top: 126px;
    height: 442px;
    z-index: 5;
}

/* BUTTONS */

.btn {
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-size: 12px;
}

.btn:focus {
    outline: 0;
}

.btn-small {
    padding: 7px 10px;
}

.btn-big {
    padding: 17px 30px;
}

.btn-orange {
    background-color: #fe775a;
    border: 1px solid #fe775a;
    color: white;
}

.btn-white-orange {
    color: #fe775a;
    background-color: white;
    border: 1px solid #fe775a;
}

.btn-white-orange:hover {
    background-color: #fff1ee;
    transition-duration: 0.5s;
}


.btn-orange:hover {
    background-color: #ffbcac;
    border: 1px solid #ffbcac;
    transition-duration: 0.5s;

}

/* SEZIONE GRIGIA */

.second-fullwidth-gray i {
    color: #fe775a;
}

/* PRIMO BLOCCO */

.first-gray-section img {
    height: 150px;
}

.first-gray-section {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

.first-gray-section h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.first-gray-section p {
    font-size: 15px;
    /* line-height: 23px; */
    margin-bottom: 30px;
}

/* SECONDO BLOCCO */

.second-gray-section {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.second-gray-section img {
    height: 90px;
    display: inline-block;
    margin-bottom: 20px;
}

.interno {
    width: 100%;
    margin-bottom: 50px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.button-box {
    text-align: center;
    width: 20%;
    float: left;
}

.interno .text-box {
    width: 80%;
    float: right;
    padding-left: 50px;
}

.top-text h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.top-text p {
    font-size: 16px;
    margin-bottom: 15px;
}

.bottom-text ul {
    list-style-type: none;
}

.bottom-text li {
    float: left;
    padding-right: 10px;
    text-transform: capitalize;
}

.bottom-text h4 {
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bottom-text hr {
    float:right;
    width: 73%;
    transform: translate(40px, 8px);
}

/* TERZO BLOCCO */

.three-boxes-container {
    margin-bottom: 40px;
}

.three-boxes-container .card-container {

    width: 33.3333%;
    float: left;
    text-align: center;
    /* DA CANCELLARE */
    /* height: 200px; */

}


.card-container:nth-child(1) {
    padding-right: 33.5px;
}

.card-container:nth-child(2) {
    padding: 0 16.5px;
}

.card-container:nth-child(3) {
    padding-left: 33.5px;
}

/* CONTENUTO CARTA */

.three-boxes-container .card img {
    height: 150px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.card-top-text {
    height: 200px;
    width: 80%;
    margin: 0 auto;
}

.card-top-text h3 {
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.card-bottom-text {
    width: 80%;
    border-top: 1px solid #33475b;
    margin: 0 auto;
    padding-top: 20px;
}

.card-bottom-text h4 {
    margin: 30px 0;
    text-transform: uppercase;
}

.card-bottom-text ul {
    margin-bottom: 50px;
}

.card-bottom-text li {
    text-align: left;
    list-style-type: none;
    text-transform: capitalize;
}

.card-bottom-text .btn {
    margin-bottom: 25px;
}

/* SEZIONE GRADIENTE */

.fullwidth-gradient .text-box {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fullwidth-gradient .text-box h3 {
    font-size: 33px;
    margin-bottom: 20px;
}

.fullwidth-gradient .text-box p {
    font-size: 15px;
}

/* ELEMENTI GRADIENTE */

.table {
    margin-bottom: 100px;
}

.table .element {
    width: 25%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    float: left;
}

.table .element:nth-child(1n+5) {
    border-bottom: none;
}

.table .element:nth-child(4n+4) {
    border-right: none;
}

.table .content {
    width: 70%;
    margin: 0 auto;
    /* height: 200px; */
    text-align: center;
}

.table .content img {
    height: 30px;
    margin: 20px 0;
}

.table .content h3 {
    font-size: 42px;
    position: relative;
    text-align: center;
}

.plus {
    display: inline-block;
    font-size: 20px;
    transform: translate(-50%, -30%);
}

.table .content p {
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* SEZIONE BIANCA */

.elements-container {
    width: 90%;
    margin: 50px auto;
}

/* PARTE ALTA */

.elements-container .text-box {
    width: 20%;
    float: left;

}

.elements-container .text-box h3 {
    font-size: 44px;
    margin-bottom: 30px;
}

.logos-table {
    width: 60%;
    float: right;
}

.logos-table .logo{
    width: 25%;
    float: left;
    max-height: 55px;
    position: relative;
    height: 200px;
}

.logos-table .logo img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* PARTE BASSA */

.bottom-container .left {
    width: 40%;
    padding-top: 25px;
    float: left;
}

.bottom-container .left h1 {
    font-size: 34px;
    text-transform: capitalize;
}

.bottom-container .left p {
    margin-bottom: 35px;
}

.bottom-container .left .btn {
    margin-bottom: 35px;
}

.bottom-container .left p:last-child {
    font-size: 12px;
}

.bottom-container .right {
    float: right;
    text-align: right;
}

.bottom-container .right img {
    height: 350px;
}

/* SEZIONE BLU */

.fullwidth-darkblue li {
    font-size: 14px;
    list-style-type: none;
}

.fullwidth-darkblue .top-box ul {
    float: left;
    padding-top: 30px;
    padding-right: 80px;
}

.fullwidth-darkblue a {
    text-decoration: none;
    color: #bbc6d4;
}


.fullwidth-darkblue .top-box li {
    padding-bottom: 15px;
}

.fullwidth-darkblue strong {
    color: white;
    font-size: 15px;
}

.fullwidth-darkblue button {
    color: #32495b;
    background-color: #ffffff;
}

.fullwidth-darkblue button:hover {
    background-color: #eaf0f6;
    transition-duration: 0.5s;
}

.fullwidth-darkblue li i {
    margin-right: 20px;
}

.fullwidth-darkblue .languages {
    padding-top: 50px;
    text-align: center;
    border-bottom: 1px solid #bbc6d4;
    margin-bottom: 30px;
}

.fullwidth-darkblue .languages li {
    float: left;
    margin-right: 20px;
}

.fullwidth-darkblue .languages ul {
    display: inline-block;
    padding-bottom: 10px;
}

.left-footer {
    margin-bottom: 30px;
    float: left;
}

.right-footer {
    float: right;
}

.right-footer span:last-child {
    margin-left: 20px;
}
